@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: grid;

	/*outra opção para criação de template, além do grid-template-rows e grid-template-columns*/
	grid-template-areas:
		"i3 i2"
		"i4 i1"
		;

		width: 100vw;
		height: 100vh;
}

.item {
	background-color:deeppink;
}

.item-1 {
	grid-area: i1;
}

.item-2 {
	grid-area: i2;
}

.item-3 {
	grid-area: i3;
}

.item-4 {
	grid-area: i4;
}