@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	border: 5px solid cyan ;
	margin: 10px;

	display: grid;

	grid-template-columns: repeat(3, 1fr);
	
	grid-template-rows: auto;

	gap: 10px;
}

.item {
	background-color:deeppink;
}

.item-2 {
	/*
	grid-row-start: 1; 
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	*/
	
	/*ao invés das quatro declarações acima, pode-se usar os SHORTHANDS*/
	grid-row: 1 / 3;
	grid-column: 2 / 4;
}