@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	border: 5px solid cyan ;
	margin: 10px;

	display: grid;
	grid-template-columns: 1fr 2fr 3fr; /*utilizando frações*/
}

.item {
	background-color:deeppink;
	margin: 10px;
}