@charset "UTF-8";

main {
	width: 100vw;
	height: 100vh;
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

button {
	display: flex;
	align-items: center;
	line-height: 0;
	gap: .4rem;
}

button img {
	width: 2rem;
	height: 2rem;
}


/*
main {
	display: flex;
	justify-content: center;
	gap: 3rem;
	padding-top: 30vh;
	
}

button {
	flex-basis: 150px;
	height: 30px;
	border: 0px;
	background-color: rgba(16, 16, 236, 0.836);
	font-weight: bold;
	color: white;
}
*/